#pragma once

// WiFi

#define WIFI_SSID ""
#define WIFI_PASSWORD ""

// MQTT

#define MQTT_SERVER "cloud.cloudmqtt.com"
#define MQTT_PORT 1000
#define MQTT_USER ""
#define MQTT_PASSWORD ""
#define MQTT_SERIAL_PUBLISH_CH ""
#define MQTT_SERIAL_RECEIVER_CH ""
